# Git
.git
.gitignore

# Build results
**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/

# Visual Studio
**/*.user
**/*.suo
**/.vs/

# IDE
.idea/
.vscode/

# User-specific files
**/appsettings.Development.json
**/appsettings.local.json
**/*.env

# Docker
Dockerfile
.dockerignore

# Test results
**/TestResults/
**/*.trx

# Logs
**/*.log
